.top-about__banner {
    width: 100%;
    height: 100vh;
    background: url('../assets/top-about__banner.jpg') rgba(0, 0, 0, 0.5);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    background-attachment: fixed;
    z-index: 1;
    display: grid;
    place-content: center;
    h1 {
        z-index: 10;
        color: #fff;
        font-size: 4.5rem;
        letter-spacing: 5px;
        text-align: center;
        font-family: 'Limelight', cursive;
        margin-bottom: 20px;
    }
}

.top-about__section {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 70px 0;
    .top-about__img img {
        width: 550px;
        height: 600px;
        margin-right: 100px;
        object-fit: cover;
    }
    .top-about__brief {
        font-size: 1.1rem;
        width: 400px;
        // font-family: 'Limelight', cursive;
        // font-family: 'Source Sans Pro', sans-serif;
        font-family: 'Space Grotesk', sans-serif;
        div:first-child {
            margin-bottom: 30px;
        }
        .bolded-info {
            font-weight: 500;
            font-size: 1.5rem;
            margin-bottom: 30px;
        }
    }
}

@media screen and (max-width: 664px) {
    .top-about__banner {
        h1 {
            font-size: 3.5rem;
        }
    }
    .top-about__section {
        flex-direction: column;
        .top-about__img img {
            width: 300px;
            height: 100%;
            margin-right: 0;
            margin-bottom: 50px;
        }
        .top-about__brief {
            font-size: 1rem;
            width: 300px;
            div:first-child {
                margin-bottom: 20px;
            }
            .bolded-info {
                font-weight: 500;
                font-size: 1.5rem;
                margin-bottom: 20px;
            }
        }
    }
}

.mid-about__section {
    width: 100%;
    height: 100%;
    text-align: center;
    margin-bottom: 40px;
    .mid-about__banner {
        width: 100%;
        height: 450px;
        background-image: url('../assets/mid-about__banner.jpg'),;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin-bottom: 90px;
    }
    h2 {
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 15px;
        font-family: 'Limelight', cursive;
    }
    .mid-about__info {
        font-size: 1.3rem;
        display: grid;
        place-content: center;
        padding: 0 50px;
        line-height: 1.7rem;
        .quote {
            // max-width: 1050px;
            font-family: 'Space Grotesk', sans-serif;
            font-weight: 500;
        }
    }
}

@media screen and (max-width: 664px) {
    .mid-about__info {
        padding: 0 20px;
        .quote {
            width: 300px;
        }
    }
}

.bottom-about__section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 90px 0;
    .bottom-about__info {
        width: 400px;
        margin-right: 100px;
        line-height: 1.5rem;
        font-weight: 300;
        font-family: 'Space Grotesk', sans-serif;
    }
    .bottom-about__img img {
        width: 550px;
        height: 600px;
        object-fit: cover;
    }
}


@media screen and (max-width: 664px) {
    .bottom-about__section {
        flex-direction: column;
        .bottom-about__info {
            width: 300px;
            // font-size: 1rem;
            margin-right: 0;
            margin-bottom: 50px;
            font-size: 1rem;
        }
        .bottom-about__img img {
            width: 300px;
            height: 100%;
        }
    }
}

.works {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 90px 0;
    .work-profile img {
        border-radius: 50%;
        width: 300px;
        height: 300px;
        object-fit: cover;
        margin-right: 150px;
    }
    .work-info {
        width: 300px;
        h3 {
            font-family: 'Limelight', cursive;
            padding-bottom: 10px;
            letter-spacing: 5px;
        }
        .info {
            font-family: 'Space Grotesk', sans-serif;
            line-height: 1.4rem;
        }
        a {
            color: #111;
        }
    }
}

@media screen and (max-width: 664px) {
    .works {
        flex-direction: column;
        .work-profile img {
            margin: 20px 0 50px;
        }
        .work-info {
            text-align: center;
        }
    }
}

.about__social {
    display: grid;
    place-content: center;
    margin: 50px;
    h3 {
        text-align: center;
        margin-bottom: 40px;
        font-family: 'Limelight', cursive;
        letter-spacing: 5px;
    }
    ul {
        display: flex;
        justify-content: center;
        li .fab {
            font-size: 3rem;
            color: #111;
        }
        li:not(:last-child) {
            margin-right: 200px;
        }
    }
}

@media screen and (max-width: 664px) {
    .about__social {
        margin: 30px;
        ul{
            li .fab {
                font-size: 2.5rem;
            }
            li:not(:last-child) {
                margin-right: 60px;
            }
        }
        
    }
}

.bottom-nav {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 70px 0;
    a {
        color: #111;
        text-transform: uppercase;
    }
    a:not(:last-child) {
        margin-right: 40px;
    }
    a:hover {
        transform: scale(1.02);
    }
}

@media screen and (max-width: 664px) {
    .bottom-nav a:not(:last-child) {
        margin-right: 80px;
    }
}

// Footer section
footer {
    width: 100%;
    height: 70px;
    display: grid;
    place-content: center;
    border-top: 0.4px solid rgb(128, 128, 128);
    a {
        color: #111;
    }
}

@media screen and (max-width: 664px) {
    footer {
        height: 80px;
        text-align: center;
    }
}