.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 20px;
    align-items: center;
}

.gallery__single {
    display: grid;
    place-content: center;
}